.table {
    margin: auto auto;
    background-color: rgb(152, 210, 211);
    border: 1px solid black;
    border-radius: 8px;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td, th {
    border: 1px solid black;
    border-radius: 15px;
    width: 200px;
}
div {
    margin-top: 50px;
    display: block;
    display: flex;
    justify-content: center;
}
.table2 {
    border-spacing: 20px;
}
.tr {
    width: 90px;
    height: 65px;
}
.td {
    width: 90px;
    height: 65px;
    border: 3px solid #74b72e;
}
#d1 {
    border-radius: 6px;
}
#d2 {
    border-radius: 6px;
}
#d3 {
    border-radius: 16px;
}
#d5 {
    border-radius: 1px;
}
#d7 {
    border-radius: 800px;
}
#d8 {
    border-radius: 6px;
}
#d9 {
    border-radius: 1px 8px 5px 20px;
}